<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../js/nav.js"></script>
  <link rel="stylesheet" type="text/css" href="../../css/output.css">
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <title><%= tituloweb %></title>
</head>
<body class="bg-yellow-800/25 overflow-x-hidden">